* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}


body {
    
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 15px;
    
}   
    header{
        height: 60px;
        background-color: #d9dee2;
        font-size: 15px;        
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;          
    } 
    .title{
        font-size: 20px;
        font-weight: bold;
    }

    p{
        font-size: 12px;;
        margin-top: 25px;
        margin-bottom: 6px;;
    }
    hr{
        width: 80%;
    }
    .containerPage{
        padding: 15px;
        display: flex;
        justify-content: center;      
        
        height: 100%;
        background-color: #d9dee2;
        border: 1px solid red;  
}    
    .simulaTela{
        margin: 10px;    
        border: 1px solid blue;
        
        width: 18%;
    }
    .simular{
        margin: 10px;       
        border: 1px solid blue;
        width: 18%;
    }
    .resultado{
        margin: 10px;      
        border: 1px solid blue;
        height: 400px;
        width: 58%;
    }
    input{
        
        margin-top: 15px;
        border: none;
        outline:none;
        background-color:  transparent;
    }
    input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
        
    #btn01{  
        background-color: orange; 
        float: left;
        border: none;     
        border: 1px solid black;
        border-radius: 5px 0px 0px 5px;
        width: 85px;
        height: 30px;        
    }
    #btn02{
               
            border: 1px solid black;
            border-radius: 0px 5px 5px 0px;
            width: 85px;
            height: 30px;            
    }
.limpar{
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid rgb(10, 1, 1);
    width: 100%;
    height: 35px;
    font-weight: bold;
}
#btnSimular{
    background-color: rgb(143, 138, 138);
    margin-top: 20px;
    border-radius: 8px;
    border: none;
    width: 100%;
    height: 35px;
    font-weight: bold;
}
.btns{
    display: flex;
    width: 100%;
}
#btn03{
    background-color: orange; 
    float: left;
    border: none;     
    border: 1px solid black;
    border-radius: 5px 0px 0px 5px;
    width: 68px;
    height: 30px;
}
#btn04{
    float: left;
    border: none;     
    border: 1px solid black;
    width: 68px;
    height: 30px;
}
#btn05{
    float: left;
    border: none;     
    border: 1px solid black;
    border-radius: 0px 5px 5px 0px;
    width: 68px;
    height: 30px;
}

.superior{
    margin-top: 40px;
    justify-content: space-between;
    display: flex;
}
.inferior{
    margin-top: 30px;
    justify-content: space-between;
    display: flex;
}
.box{
    background-color: #fff;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 2px solid rgb(146, 143, 150);
    width: 190px;
    height: 60px;;
}
.caixaTexto{
    margin-top: 4px;
}
#ir, #finalBr, #valorPago, #totalInv  {
    display: flex;
    justify-content: center;
}
#finalLi, #ganhoLiq {
    display: flex;
    justify-content: center;
    color: rgb(9, 119, 37);
}


#finalBruto, #aliquotaIr, #valorPago, #finalLiquido, #totalInvestido, #ganhoLiquido{
    margin-top: 10px;
    width: 100px;
    height: 20px;
}
.projecao{
    display: flex;
    margin-top: 25px;
    font-size: 14px;
    font-weight: bold; 
   
}
.boxGrafico{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.grafico{
    width: 100%;
    height: 130px;
    background-color: aquamarine;
    border: 1px solid black;
}
.valor{
    margin-left: 0;
    margin-bottom: 40px;
    font-size: 12px;
    width: 6%;
    height: 30px;
    display: flex;    
    transform: rotate(270deg) ;
}

/*-div class="container">
<p>Esta div não será exibida</p>  
</!div>
<input type="button" value="hfjkhhjkhgrjkghl" onclick="batata()">
<style>
.container {
display: none;
}
</style>
<script>
function batata(){
  var container = document.querySelector('.container');
  container.style.display = 'block'
}    
</script>*/